<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>App</title>
    <div th:replace="layouts/header :: layoutCss" />
    <div th:replace="layouts/header :: layoutJs" />
</head>
<body>
<div th:replace="layouts/header :: header"></div>

<main class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-sm-3">
			<div th:replace="layouts/left-nav :: leftNav"></div>
		</div>
		<div class="col-md-10 col-sm-9">
			<sitemesh:write property='body'/>
		</div>
	</div>
</main>

<div th:replace="layouts/header :: footer"></div>

</body>
</html>